*{
    margin: 0;
}
h1{
    background-color: brown;
}

a{
    background-color: aquamarine;
}

.color-fondo-hipervinculo{
 background-color: rgb(88, 220, 90);   
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}